<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thefamily_proto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CheckFamily"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectRole"
            android:label="@string/title_activity_select_role" >
        </activity>
        <activity
            android:name=".InputInform"
            android:label="@string/title_activity_input_inform" >
        </activity>
        <activity
            android:name=".AddFamilyMember"
            android:label="@string/title_activity_add_family_member" >
        </activity>
        <activity
            android:name=".CustomContact"
            android:label="@string/title_activity_custom_contact" >
        </activity>
        <activity
            android:name=".p4_home"
            android:label="@string/title_activity_p4_home" >
        </activity>
        <activity
            android:name=".p5_view_all"
            android:label="@string/title_activity_p5_view_all" >
        </activity>
    </application>

</manifest>